@charset "UTF-8";
li.new::after{
    content:"new!!";
    font-size: x_small;
    background-color: #f00;
    color:#fff;
    border-radius: 5px;
    padding: 2px 4px;
    margin: 0 10px;
}
ul{
    list-style: none;
}
q::before{
    content:"<<";
    color:blue;
}
q::after{
    content:">>";
    color:red;
}