@charset "UTF-8";
body{
    background-color: #eee;
}
section {
    width:600px;
    margin:20px auto;
}
p{
    width:500px;
    padding:10px;
    background-color: #fff;
    border:1px solid #ccc;
    line-height: 2;
}
h1~p{
    background-color:  #222;
    color:white;
}

