@charset "UTF-8";
div {
    width: 300px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    border: 2px solid red;
    border-radius: 20px;
    font-size: 1.5em;
    text-align: center;
}
#bg1 {
    background: url(../images/pic1.jpg) no-repeat;
    background-size:100% 100%;
}
#bg2 {
    background: url(../images/pic2.jpg) no-repeat;
    background-size:100% 100%;
    color:red;
}
#bg3 {
    background: url(../images/gureko.jpg) no-repeat;
    background-size:100% 100%;
    color:red;
}