/**{
    전체선택자
}*/
header{
    width:1000px;
    height:100px;
    background-color: aqua;
}
main{
    width:1000px;
    height:500px;
    background-color: blueviolet;
}
ul{
    list-style: none;
}
header>div>img{
    width: 200px;
}
main>section>div>img{
    width: 750px;
}
/*.image (클래스)도 가능*/
section>h2{
    background-color: yellow;
    padding: 15px;
    width: 100px;
/*section h2 도 가능*/
}
footer{
    width: 1000px;
    height: 100px;
    background-color: brown;
}